.comingSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: auto; /* Keeps the aspect ratio */
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

/* Adjust size on smaller screens */
@media (max-width: 600px) {
  .comingSoon {
    width: 75vw;
  }
}